
  <%= form_for new_message do |f| %>

      <%# if this is a new message... %>
      <% if friend.nil? && chain.id.nil? %>

        <div class="message-to-field-container">
          
          <%= f.label "To:", class: "field-label-left"%>
            
            <div class="dropdown-container">
              <%= f.collection_select(:receiver_id, current_user.friends.sort_by{ |friend| friend.name }, :id, :name)%>
            </div>

        </div>

        <div class="message-text-area-container">
          <% else %>
            <%= f.hidden_field :receiver_id, value: friend.id %> 
            <%= f.hidden_field :chain_id, value: chain.id %> 
          <% end %>
            <%= f.hidden_field :sender_id, value: current_user.id %> 

              <%= f.text_area :content, class: "text-area" %> 

        </div>

        <div class="message-send-button-container">
          <button class="primary-button">
            <%= f.submit "Send"%>
          </button>
        </div>


      


  <% end %>


