<%= render partial: "form_errors", locals: { errors: errors } %>

<%= form_with url: create_user_path, model: user, local: true, class: "registration-form" do |registration_form| %>
  <div class="justified-fields-container registration">   
    <div class="single-field-container">          
      <%= registration_form.label :name, "Name:", class: "field-label-left registration" %>
      <%= registration_form.text_field :name, class: "text-field" %>
    </div>

    <div class="single-field-container"> 
      <%= registration_form.label :mod_id, "Mod:", class: "field-label-left registration" %>
      <div class="dropdown-container">
        <%= registration_form.collection_select :mod_id, mods, :id, :name, class: "dropdown" %>
      </div>
    </div>

    <div class="single-field-container"> 
      <%= registration_form.label :email, "Email:", class: "field-label-left registration" %>
      <%= registration_form.text_field :email, class: "text-field" %>
    </div>

    <div class="single-field-container"> 
      <%= registration_form.label :password, "Password*: (choose)", class: "field-label-left registration" %>
      <%= registration_form.password_field :password, class: "text-field" %>
    </div>

    <div class="single-field-container"> 
      <div class="checkbox-container">
        <%= registration_form.check_box :accepted_terms, class: "terms-conditions-checkbox" %>
      </div>
      <div class="terms-conditions-container">
        <%= registration_form.label :accepted_terms, "I have read and understood the Terms of Use, and I agree to them.", class: "terms-conditions-label" %>
      </div>
    </div>
  </div>

  <p class="small-print password">* You can choose any password. <span class="password-warning">It should not be your school password.</span></p>

  <div class="primary-widget-button-container">
    <button class="primary-button"><%= registration_form.submit "Register Now!" %></button>
  </div>

<% end %>