<%= render partial: "form_errors", locals: { errors: errors } %>

<%= form_with url: create_user_path, model: current_user, local: true, class: "registration-form" do |registration_form| %>
  
  <table class="form-table registration-form">
    <tr>        
      <td><%= registration_form.label :name, "Name:", class: "field-label-left registration" %></td>
      <td><%= registration_form.text_field :name, class: "text-field" %></td>
    </tr>

    <tr>
      <td><%= registration_form.label :mod_id, "Mod:", class: "field-label-left registration" %></td>
      <td><%= registration_form.collection_select :mod_id, mods, :id, :name, class: "dropdown" %></td>
    </tr>

    <tr>
      <td><%= registration_form.label :email, "Email:", class: "field-label-left registration" %></td>
      <td><%= registration_form.text_field :email, class: "text-field" %></td>
    </tr>

    <tr>
      <td><%= registration_form.label :password, "Password*: (choose)", class: "field-label-left registration" %></td>
      <td><%= registration_form.password_field :password, class: "text-field" %></td>
    </tr>

  </table>

  <div class="terms-and-conditions-container"> 
    <div class="checkbox-container">
      <%= registration_form.check_box :accepted_terms, class: "terms-conditions-checkbox" %>
    </div>
    <div class="terms-conditions-label-container">
      <%= registration_form.label :accepted_terms, "I have read and understood the Terms of Use, and I agree to them.", class: "terms-conditions-label" %>
    </div>
  </div>

  <p class="small-print password">* You can choose any password. <span class="password-warning">It should not be your school password.</span></p>

  <div class="primary-widget-button-container">
    <button class="primary-button"><%= registration_form.submit "Register Now!" %></button>
  </div>

<% end %>