<%# <%locals: {current_user: current_user, user: request.request_initiator}%>

<%# if a Friendship instance already exists between the two users...  %>
<% if @friendship = Friendship.get_existing_friendship(current_user,user) %>
    
    <%= form_for @friendship, url: "/friendships/#{@friendship.id}" do |f| %>
        <%if @friendship.status == "Accepted" %>
            <%# Don't show a form %>
        <%elsif @friendship.request_receiver == current_user && @friendship.status == "Pending" %>
            <%= f.hidden_field :user_id, value: @friendship.user_id %>
            <%= f.hidden_field :friend_id, value: @friendship.friend_id %>
            <%= f.hidden_field :status, value: "Accepted" %>
            <%= f.submit "Accept Friend Request" %>
        <%elsif @friendship.request_initiator == current_user && @friendship.status == "Pending" %>
            <button type="button">Friend Request Pending</button>
        <% else %>
            <%# DO NOTHING %>
        <% end %>
    <% end %>

<% else @friendship = Friendship.new #No request initiated (i.e. no Friendship object between two users) %>  
    
    <%# Send Friend Request%>
    <%= form_for @friendship, url: "/friendships" do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :friend_id, value: user.id %>
        <%= f.hidden_field :status, value: "Pending" %>
        <%= f.submit "Send Friend Request", id: "request_#{user.id}" %>
    <% end %>

<% end %>

<%# , url: "/friendships/#{@friendship.id}", html: {method: "patch"} %>