<%# if a Friendship instance already exists between the two users...  %>
<% if @friendship = Friendship.find_by(user_id: current_user.id, friend_id: user.id) || @friendship = Friendship.find_by(user_id: user.id, friend_id: current_user.id)%>
    
    <%= form_for @friendship, url: "/friendships/#{@friendship.id}", html: {method: "patch"} do |f| %>
        <%if @friendship.status == "Accepted" #current user and user are friends %>
            <%# PLACEHOLDER FOR DELETE FORM%>
        <%elsif @friendship.friend_id == current_user.id && @friendship.status == "Pending" #User has already sent a friendship request; current user has not responded yet %>
            <%# Accept Friend Request%>
            <%= f.hidden_field :status, value: "Accepted" %>
            <%= f.submit "Accept Friend Request" %>
            <%# PLACEHOLDER FOR DELETE FORM%>
        <%elsif @friendship.user_id == current_user.id && @friendship.status == "Pending" #Current User has already sent a friendship request; user has not responded yet %>
            <button type="button">Friend Request Pending</button>
        <% else %>
            <%# DO NOTHING %>
        <% end %>
    <% end %>

<% else @friendship = Friendship.new #No request initiated (i.e. no Friendship object between two users) %>  
    
    <%# Send Friend Request%>
    <%= form_for @friendship, url: "/friendships" do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :friend_id, value: user.id %>
        <%= f.hidden_field :status, value: "Pending" %>
        <%= f.submit "Send Friend Request", id: "request_#{user.id}" %>
    <% end %>

<% end %>