<h1>My Friend Requests</h1>

<% @requests.each do |request| %>
    <%= User.find(request.friend_id).name %> 

    <% if request.status == "Accepted" %>
        <%= button_to "View Profile" %>
    <% elsif request.status == "Pending" %>
        <button type="button">Friend Request Pending</button>
    <% else %>
        <%= form_tag("/friendships", method: "post") %> 
        <%= hidden_field_tag(:user_id, current_user.id) %> 
        <%= hidden_field_tag(:friend_id, user.id) %> 
        <%= submit_tag("Send Friend Request") %> 
    <% end %>
    
    <br><br>
<% end %>