<header class="widget-header">
    <h1 class="widget-heading">My Messages</h1> 
</header>

<div class="primary-widget-body">

    <div class="my-messages-widget">
        
        <header class="widget-header">
            <h2 class="widget-heading">
                Message with <%= @friend.name %>
            </h2> 
        </header>

        <div class="my-messages-widget-content-container">

            <div class="previous-messages-container">
                
                <% @messages.each do |message| %>

                    <div class="previous-message-container">
                        <img src=<%= message.sender.profile.photo_url %> alt="" width="25" title=<%=message.sender.name%>}> 
                        <%= message.content %> 
                        <%= I18n.l(message.created_at, format: :long) %>
                    </div>
                    
                <% end %>

            </div>

            <div class="message-response-container">
                <%= form_for @new_message do |f| %>
                <%= f.hidden_field :sender_id, value: current_user.id %> 
                <%= f.hidden_field :receiver_id, value: @friend.id %> 
                <%= f.hidden_field :chain_id, value: @chain.id %> 
                <%= f.text_area :content %> 
                <%= f.submit "Send"%>
            <% end %>
            </div>


            

            

        </div>

        



    </div>



</div>

