<h1>Message with <%= @friend.name %></h1>

<% @messages.each do |message| %>

    <img src=<%= message.sender.profile.photo_url %> alt="" width="25"> <br>
    <%= message.content %> <br>
    <small><%= I18n.l(message.created_at, format: :long) %></small>
    <br><br>
<% end %>

<%= render partial: "/messages/form", locals: {new_message: @new_message, current_user: current_user, friend: @friend, chain: @chain} %>