
<header class="widget-header">
    <h1 class="widget-heading">My Friend Requests</h1>
</header>

<div class="primary-widget-body">

    <div class="all-requests-container">

        <% if notice %>
            <div class="requests-notice-container">
                <p class="requests-notice-text"> <%= notice %> </p> 
            </div>
        <% end %>

        <div class="requests-container">

            <div class="requests-header-container">
                <h2 class="requests-header">Friend Requests</h2>
            </div>

            <% if @requests.empty? %>
                <div class="empty-requests-container">
                    <p class="no-requests-text">You don't have any friend requests!</p>           
                </div>
            <% else %>
                <div class="display-user-previews-container"> 

                    <% @requests.each do |request| %>

                        <div class="user-preview-container">

                            <div class="user-img-preview-container">
                                <a href=<%=profile_path(request.get_requestor.profile.slug)%>> <img class="profile-photo-preview-img" src=<%= request.get_requestor.profile.photo_url %> alt=<%= "profile photo for #{request.get_requestor.name}"%>> </a> 
                            </div>
                            
                            <div class="user-info-preview-container">

                                <div class="user-preview-text-container">
                                    
                                    <h3 class="user-preview-name-header">
                                        <%= request.get_requestor.name %> 
                                    </h3>

                                    <h4 class="user-preview-mod-header"> 
                                        <%= request.get_requestor.mod.name %> 
                                    </h4>
                                    
                                </div>

                                <div class="user-preview-buttons-container">
                                    <div class="user-preview-button-container">
                                         <%= render partial: "accept_form", locals: {friendship: Friendship.new, user_1_id: request.get_requestor.id, user_2_id: request.get_receiver.id }%>
                                    </div>

                                    <div lass="user-preview-button-container">   
                                         <%= render partial: "delete_form", locals: {id: request.id} %>
                                    </div>
                                   
                                </div>                             
                                
                            </div>

                        </div>
                    <% end %>

                </div>
            <% end %>

        </div>

        <div class="requests-container">

            <div class="requests-header-container">
                <h2 class="requests-header">Pending Friend Requests</h2>
            </div>
            
            <% if @pending_requests.empty? %>
                <div class="empty-requests-container">
                    <p class="no-requests-text">You haven't sent any friend requests!</p>   
                </div>
            <% else %>
                <div class="display-user-previews-container">

                    <% @pending_requests.each do |request| %>

                        <div class="user-preview-container">

                            <div class="user-img-preview-container">
                                <a href=<%=profile_path(request.get_receiver.profile.slug)%>> <img class="profile-photo-preview-img" src=<%= request.get_receiver.profile.photo_url %> alt=<%= "profile photo for #{request.get_receiver.name}"%>> </a> 
                            </div>

                            <div class="user-info-preview-container">

                                <div class="user-preview-text-container">

                                    <h3 class="user-preview-name-header">
                                        <%= request.get_receiver.name %> 
                                    </h3>
                                    
                                    <h4 class="user-preview-mod-header"> 
                                        <%= request.get_receiver.mod.name %> 
                                    </h4>

                                </div>
                                
                                <div class="user-preview-buttons-container">
                                    <button class="pending-request-button">Friend Request Pending</button> 
                                </div>
                                
                                
                                

                            </div>
                            

                        </div>

                    <% end %>

                </div>
            <% end %>

        </div>


    </div>

</div>

