<br>
<%= notice %>

<h1>My Friend Requests</h1>

<h2>Friend Requests</h2>

<% if @requests.empty? %>
    You don't have any friend requests!
<% else %>
     <% @requests.each do |request| %>
        <%= link_to request.get_requestor.name, profile_path(request.get_requestor.profile.slug) %>
        <%= render partial: "accept_form", locals: {friendship: Friendship.new, user_1_id: request.get_requestor.id, user_2_id: request.get_receiver.id }%>
        <%= render partial: "delete_form", locals: {id: request.id} %>
       
        <br>
    <% end %>
<% end %>

<h2>Pending Friend Requests</h2>

<% if @pending_requests.empty? %>
    You haven't sent any friend requests!
<% else %>
    <% @pending_requests.each do |request| %>
        <%= link_to request.get_receiver.name, profile_path(request.get_receiver.profile.slug) %> <br>
        <button>Friend Request Pending</button> <br>
        <br>
    <% end %>
<% end %>