<nav>

<div> Currently logged in as: <%= current_user.name %></div>
<br>

<%# This will become the search field eventually %>
<div><%= link_to "Search", users_path %></div>

<%# Not visible in the FB screenshots from 2005, so not sure where this should live... %>
<div><%= link_to "My Requests", requests_path %></div>
<br>

<%# Placeholders for links, in order as displayed on 2005 FB sidebar %>
<div><%= link_to "My Profile", profile_path(current_user.profile) %></div>

<div><%= link_to "My Friends", friends_path(current_user)%></div>

<div>My Groups</div>

<div>My Parties</div>

<div><%= link_to "My Messages", user_messages_path %></div>

<div>My Account</div>

<div>My Privacy</div>

</nav>