<nav>
<br>

<div class="search-box">

<%= form_with(url: "/users/index", local: true, method: "get" ) do %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= label_tag(:search, "quick search") %>
    <%= submit_tag("Go") %>
<% end %>

</div>

<%# Placeholders for links, in order as displayed on 2005 FB sidebar %>
<div><%= link_to "My Profile", profile_path(current_user.profile.slug) %></div>

<div><%= link_to "My Friends", friends_path(current_user)%></div>

<div>My Groups</div>

<div>My Parties</div>

<div><%= link_to "My Messages", chains_path %></div>

<div>My Account</div>

<div>My Privacy</div>

</nav>