<!DOCTYPE html>
<html>
  <head>
    <title>2005book</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <div class="page-container">
      <div class="content-container">

        <header class="facebook-banner">
          <div class="banner-img-container">
            <%= image_tag"silhouette-logo-left.jpg" %>
          </div>
          <div class="banner-logo-nav-container">
            <div class="logo-container">
              <%= link_to image_tag("logo-right.jpg"), root_path %>
            </div>

            <%# NOTE: CHANGED @CURRENT_USER to CURRENT_USER for building messages (@ was breaking it) - need to change this back %>

            <nav class="banner-nav-container">
              <% if current_user.id %>
                <%= render partial: "layouts/partials/logged_in_nav", locals: { current_user: current_user } %>
              <% else %>
                <%= render partial: "layouts/partials/logged_out_nav" %> 
              <% end %>
            </nav>
          </div>
        </header>

        <aside class="sidebar-container">
          <% if current_user.id %>
            <%= render partial: "layouts/partials/sidebar_search_form" %>
            <%= render partial: "layouts/partials/sidebar_logged_in_nav" %>
          <% else %>
            <%= render partial: "layouts/partials/sidebar_logged_out_nav" %>
          <% end %>
        </aside>

        <section class="primary-content-container">
            <%= yield %>
        </section>

        <footer class="footer-container">
          <nav class="footer-nav"> 
            <a href="https://web.archive.org/web/20050809082348/http://www.thefacebook.com/about.php" class="footer-link"> about </a> 
            <a href="https://web.archive.org/web/20050807012601/http://www.thefacebook.com/contact.php" class="footer-link">contact</a>
            <a href="https://web.archive.org/web/20050804010542/http://www.thefacebook.com/jobs.php" class="footer-link">jobs</a>
            <a href="https://web.archive.org/web/20050803233434/http://www.thefacebook.com/announce.php" class="footer-link">announce</a>
            <a href="https://web.archive.org/web/20050804013040/http://www.thefacebook.com/media.php" class="footer-link">advertise</a>
            <a href="https://web.archive.org/web/20050801011049/http://www.thefacebook.com/terms.php" class="footer-link">terms</a>
            <a href="https://web.archive.org/web/20050827164526/http://www.thefacebook.com/policy.php" class="footer-link">privacy</a>
          </nav>
          <p class="small-print">a Prendergast-Morrison production</p>
          <p class="small-print">Thefacebook &copy; 2005</p>
        </footer>
        
      </div>
    </div>   
  </body>
</html>
